@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300');
@import 'vars.less';

h1#pagenotfound{
	display:block;
	margin:100px 0;
	text-align:center;
	color:@laranjaClaro;
	.roboto(30px, 300);
}

html{
	body{
		background:url('../images/layout/bg.png');
		header{
			background:url('../images/layout/bg_header.png') left top repeat-x;
			#superior{
				height:147px;
				.centro{
					#logo-link{
						float:left;
						width:250px;
						height:114px;
						margin-top:33px;
						img{
							max-width:250px;
							max-height:114px;
						}
					}
					nav{
						float:left;
						height:55px;
						margin-top:55px;
						margin-left:55px;
						ul{
							height:55px;
							font-size:0;
							li{
								.inline;
								height:55px;
								a{
									height:53px;
									line-height:53px;
									border-top:1px @cinzaClaro solid;
									border-bottom:1px @cinzaClaro solid;
									color:@cinzaEscuro;
									display:block;
									text-decoration:none;
									padding:0 15px;
									overflow:hidden;
									position:relative;
									.roboto(18px);
									.transition;
									&:active, &:visited{color:@cinzaEscuro;}
									&:hover, &.ativo{
										color:@laranjaClaro;
										border-color:@laranjaClaro;
										&:before, &:after{
											opacity:1;
										}
									}
									&:before{
										content:"";
										display:block;
										width:100%;
										height:2px;
										position:absolute;
										top:0;
										left:0;
										background:url('../images/layout/menu_seta-cima.png') center center no-repeat;
										opacity:0;
										.transition;
									}
									&:after{
										content:"";
										display:block;
										width:100%;
										height:2px;
										position:absolute;
										bottom:0;
										left:0;
										background:url('../images/layout/menu_seta-baixo.png') center center no-repeat;
										opacity:0;
										.transition;
									}
								}
								&#link-home{
									a{
										width:15px;
										text-indent: -1000px;
										background:url('../images/layout/menu_home.png') center center no-repeat;
										&:hover, &.ativo{
											background:url('../images/layout/menu_home-hover.png') center center no-repeat;
										}
									}
								}
							}
						}
					}
					#contato-topo{
						float:right;
						text-align:right;
						margin-top:58px;
						line-height:115%;
						.telefone{
							.roboto(11px);
							color:@azul;
							.ddd{font-size:11px;}
							.tel{font-size: 22px;}
						}
						a{
							.roboto(15px);
							color:@azul;
							.transition;
							&:active, &:visited{color:@azul;}
							&:hover{color:@laranjaClaro;}
						}
					}
				}
			}
			#inferior{
				height:75px;
				background: url('../images/layout/bg_menu.png') left top repeat-x;
				.centro{
					ul{
						font-size:0;
						li{
							padding-top:2px;
							.inline;
							a{
								box-sizing:border-box;
								height:73px;
								padding:15px 30px 0 30px;
								display:block;
								color:#fff;
								text-align:center;
								line-height: 130%;
								position:relative;
								background: url('rgba.php/rgba(255,255,255,0)');
								.roboto(18px);
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover, &.ativo{
									background: url('../images/layout/bg_menu-hover.png');
									&:before, &:after{opacity:1;}
								}
								&:before{
									.transition;
									content:"";
									opacity:0;
									position:absolute;
									left:-1px;
									top:-1px;
									height:73px;
									width:2px;
									background: url('../images/layout/bg_menu-hover_esq.png') center center no-repeat;
								}
								&:after{
									.transition;
									content:"";
									opacity:0;
									position:absolute;
									right:-1px;
									top:-1px;
									height:73px;
									width:2px;
									background: url('../images/layout/bg_menu-hover_dir.png') center center no-repeat;
								}
							}
							&#links-social{
								
								a{
									width:34px;
									height:32px;
									overflow: hidden;
									text-indent:-1000px;
									padding:0;
									margin:17px 0 0 1px;
									.inline;
									.transition;
									&:first-child{margin-left:51px}
									&:before, &:after{display:none;}
									&.link-fb{
										background:url('../images/layout/menu_facebook.png') center center no-repeat;
										&:hover{
											background:url('../images/layout/menu_facebook.png') center center no-repeat;
										}
									}
									&.link-tw{
										background:url('../images/layout/menu_twitter.png') center center no-repeat;
										&:hover{
											background:url('../images/layout/menu_twitter.png') center center no-repeat;
										}
									}
									&.link-li{
										background:url('../images/layout/menu_linkedin.png') center center no-repeat;
										&:hover{
											background:url('../images/layout/menu_linkedin.png') center center no-repeat;
										}
									}
								}								
							}
						}
					}
				}
			}
		}
		.main{
			.internal-padding{
				padding:30px 0 80px 0;
			}
			section{}
			aside{}
			h1.pagetitle{
				.roboto(28px, 300);
				color:@azul;
				height:79px;
				line-height:79px;
				border-bottom:1px #A4CFDA solid;
				background:url('rgba.php/rgba(83,149,171,.1)');
				background:rgba(83,149,171,.1);
			}
		}
		footer{
			#cadastro-newsletter{
				height:72px;
				line-height:72px;
				font-size:0;
				background: url('../images/layout/bg_menu.png') left top repeat-x;
				.centro{
					h2{
						color:#fff;
						.roboto(18px);
						float:left;
						margin-right:10px;
					}
					form{
						padding-top: 4px;
						input[type="text"],
						input[type="email"]{
							width:183px;
							height:25px;
							padding:4px 10px;
							border:1px #fff solid;
							margin-right:10px;
							background:rgba(255,255,255,.2);
							.roboto(14px);
							.placeholder(#0A3945);
						}
						input[type="submit"]{
							vertical-align: 1px;
							height:36px;
							width:36px;
							overflow:hidden;
							text-indent:-1000px;
							border:0;
							padding:0;
							cursor:pointer;
							background:url('../images/layout/newsletter_botao.png') center center no-repeat;
							color:#0A3945;
							.transition;
							&:hover{
								background:url('../images/layout/newsletter_botao-hover.png') center center no-repeat;
							}
						}
					}
				}
			}
			#menu-footer{
				background:#282828;
				padding:35px 0;
				min-height:250px;
				.centro{
					ul{
						width:220px;
						.inline;
						li{
							margin:4px 0;
							line-height:130%;
							a{
								color:#05A0C4;
								.roboto(15px);
								.transition;
								&:active, &:visited{color:#05A0C4;}
								&:hover{color:@laranjaClaro;}
							}
							&.sub{
								a{
									background:url('../images/layout/footer_bullet.png') left center no-repeat;
									padding-left:10px;
									color:#fff;
									.roboto(14px);
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{color:@laranjaClaro;}									
								}
								& + li:not(.sub){
									margin-top:10px;
								}
							}
						}
					}
					#contato-footer{
						width:200px;
						text-align:right;
						float:right;
						img{
							margin-bottom:25px;
						}
						.telefone{
							color:#fff;
							margin-bottom: 12px;
							.roboto(18px, 300);
							.tel{font-size: 28px;}
						}
						.endereco{
							color:#fff;
							line-height:130%;
							margin-bottom: 12px;
							.roboto(15px);
						}
						.mail-link{
							color:#05A0C4;
							.roboto(18px);
							.transition;
							&:active, &:visited{ color:#05A0C4; }
							&:hover{ color:@laranjaClaro; }
						}
						#links-social-footer{
							font-size:0;
							margin-top: 12px;
							a{
								margin-left:2px;
								width:45px;
								height:42px;
								text-indent: -1000px;
								overflow:hidden;
								float:none;
								.inline;
								.transition;
								&:active, &:visited{}
								&:hover{}
								&.link-fb{
									background:url('../images/layout/footer_facebook.png') center center no-repeat;
									&:hover{ background:url('../images/layout/footer_facebook-hover.png') center center no-repeat; }
								}
								&.link-tw{
									background:url('../images/layout/footer_twitter.png') center center no-repeat;
									&:hover{ background:url('../images/layout/footer_twitter-hover.png') center center no-repeat; }
								}
								&.link-li{
									background:url('../images/layout/footer_linkedin.png') center center no-repeat;
									&:hover{ background:url('../images/layout/footer_linkedin-hover.png') center center no-repeat; }
								}
							}
						}
					}
				}
			}
			#assinatura{
				background:#1E1E1E;
				height:50px;
				line-height:50px;
				.centro{
					.roboto(12px);
					span{
						color:#787878;
					}
					a{
						float:right;
						color:#787878;
						.transition;
						&:active, &:visited{color:#787878;}
						&:hover, &.ativo{color:@laranjaClaro;}
						img{
							margin-left:3px;
							vertical-align:-3px
						}
					}
				}
			}
		}
	}
}

