@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300');
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
h1#pagenotfound {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: #ff6d00;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 300;
}
html body {
  background: url('../images/layout/bg.png');
}
html body header {
  background: url('../images/layout/bg_header.png') left top repeat-x;
}
html body header #superior {
  height: 147px;
}
html body header #superior .centro #logo-link {
  float: left;
  width: 250px;
  height: 114px;
  margin-top: 33px;
}
html body header #superior .centro #logo-link img {
  max-width: 250px;
  max-height: 114px;
}
html body header #superior .centro nav {
  float: left;
  height: 55px;
  margin-top: 55px;
  margin-left: 55px;
}
html body header #superior .centro nav ul {
  height: 55px;
  font-size: 0;
}
html body header #superior .centro nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 55px;
}
html body header #superior .centro nav ul li a {
  height: 53px;
  line-height: 53px;
  border-top: 1px #dedede solid;
  border-bottom: 1px #dedede solid;
  color: #a0a0a0;
  display: block;
  text-decoration: none;
  padding: 0 15px;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header #superior .centro nav ul li a:active,
html body header #superior .centro nav ul li a:visited {
  color: #a0a0a0;
}
html body header #superior .centro nav ul li a:hover,
html body header #superior .centro nav ul li a.ativo {
  color: #ff6d00;
  border-color: #ff6d00;
}
html body header #superior .centro nav ul li a:hover:before,
html body header #superior .centro nav ul li a.ativo:before,
html body header #superior .centro nav ul li a:hover:after,
html body header #superior .centro nav ul li a.ativo:after {
  opacity: 1;
}
html body header #superior .centro nav ul li a:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/layout/menu_seta-cima.png') center center no-repeat;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header #superior .centro nav ul li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../images/layout/menu_seta-baixo.png') center center no-repeat;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header #superior .centro nav ul li#link-home a {
  width: 15px;
  text-indent: -1000px;
  background: url('../images/layout/menu_home.png') center center no-repeat;
}
html body header #superior .centro nav ul li#link-home a:hover,
html body header #superior .centro nav ul li#link-home a.ativo {
  background: url('../images/layout/menu_home-hover.png') center center no-repeat;
}
html body header #superior .centro #contato-topo {
  float: right;
  text-align: right;
  margin-top: 58px;
  line-height: 115%;
}
html body header #superior .centro #contato-topo .telefone {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #5395ab;
}
html body header #superior .centro #contato-topo .telefone .ddd {
  font-size: 11px;
}
html body header #superior .centro #contato-topo .telefone .tel {
  font-size: 22px;
}
html body header #superior .centro #contato-topo a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #5395ab;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header #superior .centro #contato-topo a:active,
html body header #superior .centro #contato-topo a:visited {
  color: #5395ab;
}
html body header #superior .centro #contato-topo a:hover {
  color: #ff6d00;
}
html body header #inferior {
  height: 75px;
  background: url('../images/layout/bg_menu.png') left top repeat-x;
}
html body header #inferior .centro ul {
  font-size: 0;
}
html body header #inferior .centro ul li {
  padding-top: 2px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body header #inferior .centro ul li a {
  box-sizing: border-box;
  height: 73px;
  padding: 15px 30px 0 30px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 130%;
  position: relative;
  background: url('rgba.php/rgba(255,255,255,0)');
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header #inferior .centro ul li a:active,
html body header #inferior .centro ul li a:visited {
  color: #fff;
}
html body header #inferior .centro ul li a:hover,
html body header #inferior .centro ul li a.ativo {
  background: url('../images/layout/bg_menu-hover.png');
}
html body header #inferior .centro ul li a:hover:before,
html body header #inferior .centro ul li a.ativo:before,
html body header #inferior .centro ul li a:hover:after,
html body header #inferior .centro ul li a.ativo:after {
  opacity: 1;
}
html body header #inferior .centro ul li a:before {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  content: "";
  opacity: 0;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 73px;
  width: 2px;
  background: url('../images/layout/bg_menu-hover_esq.png') center center no-repeat;
}
html body header #inferior .centro ul li a:after {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  content: "";
  opacity: 0;
  position: absolute;
  right: -1px;
  top: -1px;
  height: 73px;
  width: 2px;
  background: url('../images/layout/bg_menu-hover_dir.png') center center no-repeat;
}
html body header #inferior .centro ul li#links-social a {
  width: 34px;
  height: 32px;
  overflow: hidden;
  text-indent: -1000px;
  padding: 0;
  margin: 17px 0 0 1px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header #inferior .centro ul li#links-social a:first-child {
  margin-left: 51px;
}
html body header #inferior .centro ul li#links-social a:before,
html body header #inferior .centro ul li#links-social a:after {
  display: none;
}
html body header #inferior .centro ul li#links-social a.link-fb {
  background: url('../images/layout/menu_facebook.png') center center no-repeat;
}
html body header #inferior .centro ul li#links-social a.link-fb:hover {
  background: url('../images/layout/menu_facebook.png') center center no-repeat;
}
html body header #inferior .centro ul li#links-social a.link-tw {
  background: url('../images/layout/menu_twitter.png') center center no-repeat;
}
html body header #inferior .centro ul li#links-social a.link-tw:hover {
  background: url('../images/layout/menu_twitter.png') center center no-repeat;
}
html body header #inferior .centro ul li#links-social a.link-li {
  background: url('../images/layout/menu_linkedin.png') center center no-repeat;
}
html body header #inferior .centro ul li#links-social a.link-li:hover {
  background: url('../images/layout/menu_linkedin.png') center center no-repeat;
}
html body .main .internal-padding {
  padding: 30px 0 80px 0;
}
html body .main h1.pagetitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #5395ab;
  height: 79px;
  line-height: 79px;
  border-bottom: 1px #A4CFDA solid;
  background: url('rgba.php/rgba(83,149,171,.1)');
  background: rgba(83, 149, 171, 0.1);
}
html body footer #cadastro-newsletter {
  height: 72px;
  line-height: 72px;
  font-size: 0;
  background: url('../images/layout/bg_menu.png') left top repeat-x;
}
html body footer #cadastro-newsletter .centro h2 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  float: left;
  margin-right: 10px;
}
html body footer #cadastro-newsletter .centro form {
  padding-top: 4px;
}
html body footer #cadastro-newsletter .centro form input[type="text"],
html body footer #cadastro-newsletter .centro form input[type="email"] {
  width: 183px;
  height: 25px;
  padding: 4px 10px;
  border: 1px #fff solid;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body footer #cadastro-newsletter .centro form input[type="text"]::-webkit-input-placeholder,
html body footer #cadastro-newsletter .centro form input[type="email"]::-webkit-input-placeholder {
  color: #0a3945;
}
html body footer #cadastro-newsletter .centro form input[type="text"]:-moz-placeholder,
html body footer #cadastro-newsletter .centro form input[type="email"]:-moz-placeholder {
  color: #0a3945;
}
html body footer #cadastro-newsletter .centro form input[type="text"]::-moz-placeholder,
html body footer #cadastro-newsletter .centro form input[type="email"]::-moz-placeholder {
  color: #0a3945;
}
html body footer #cadastro-newsletter .centro form input[type="text"]:-ms-input-placeholder,
html body footer #cadastro-newsletter .centro form input[type="email"]:-ms-input-placeholder {
  color: #0a3945;
}
html body footer #cadastro-newsletter .centro form input[type="submit"] {
  vertical-align: 1px;
  height: 36px;
  width: 36px;
  overflow: hidden;
  text-indent: -1000px;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: url('../images/layout/newsletter_botao.png') center center no-repeat;
  color: #0A3945;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #cadastro-newsletter .centro form input[type="submit"]:hover {
  background: url('../images/layout/newsletter_botao-hover.png') center center no-repeat;
}
html body footer #menu-footer {
  background: #282828;
  padding: 35px 0;
  min-height: 250px;
}
html body footer #menu-footer .centro ul {
  width: 220px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body footer #menu-footer .centro ul li {
  margin: 4px 0;
  line-height: 130%;
}
html body footer #menu-footer .centro ul li a {
  color: #05A0C4;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #menu-footer .centro ul li a:active,
html body footer #menu-footer .centro ul li a:visited {
  color: #05A0C4;
}
html body footer #menu-footer .centro ul li a:hover {
  color: #ff6d00;
}
html body footer #menu-footer .centro ul li.sub a {
  background: url('../images/layout/footer_bullet.png') left center no-repeat;
  padding-left: 10px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #menu-footer .centro ul li.sub a:active,
html body footer #menu-footer .centro ul li.sub a:visited {
  color: #fff;
}
html body footer #menu-footer .centro ul li.sub a:hover {
  color: #ff6d00;
}
html body footer #menu-footer .centro ul li.sub + li:not(.sub) {
  margin-top: 10px;
}
html body footer #menu-footer .centro #contato-footer {
  width: 200px;
  text-align: right;
  float: right;
}
html body footer #menu-footer .centro #contato-footer img {
  margin-bottom: 25px;
}
html body footer #menu-footer .centro #contato-footer .telefone {
  color: #fff;
  margin-bottom: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
html body footer #menu-footer .centro #contato-footer .telefone .tel {
  font-size: 28px;
}
html body footer #menu-footer .centro #contato-footer .endereco {
  color: #fff;
  line-height: 130%;
  margin-bottom: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
html body footer #menu-footer .centro #contato-footer .mail-link {
  color: #05A0C4;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #menu-footer .centro #contato-footer .mail-link:active,
html body footer #menu-footer .centro #contato-footer .mail-link:visited {
  color: #05A0C4;
}
html body footer #menu-footer .centro #contato-footer .mail-link:hover {
  color: #ff6d00;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer {
  font-size: 0;
  margin-top: 12px;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a {
  margin-left: 2px;
  width: 45px;
  height: 42px;
  text-indent: -1000px;
  overflow: hidden;
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a.link-fb {
  background: url('../images/layout/footer_facebook.png') center center no-repeat;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a.link-fb:hover {
  background: url('../images/layout/footer_facebook-hover.png') center center no-repeat;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a.link-tw {
  background: url('../images/layout/footer_twitter.png') center center no-repeat;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a.link-tw:hover {
  background: url('../images/layout/footer_twitter-hover.png') center center no-repeat;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a.link-li {
  background: url('../images/layout/footer_linkedin.png') center center no-repeat;
}
html body footer #menu-footer .centro #contato-footer #links-social-footer a.link-li:hover {
  background: url('../images/layout/footer_linkedin-hover.png') center center no-repeat;
}
html body footer #assinatura {
  background: #1E1E1E;
  height: 50px;
  line-height: 50px;
}
html body footer #assinatura .centro {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body footer #assinatura .centro span {
  color: #787878;
}
html body footer #assinatura .centro a {
  float: right;
  color: #787878;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer #assinatura .centro a:active,
html body footer #assinatura .centro a:visited {
  color: #787878;
}
html body footer #assinatura .centro a:hover,
html body footer #assinatura .centro a.ativo {
  color: #ff6d00;
}
html body footer #assinatura .centro a img {
  margin-left: 3px;
  vertical-align: -3px;
}
