@import 'vars.less';

body{
	#cotacoes-nav{
		font-size:0;
		li{
			width:475px;
			.inline;
			height:46px;
			line-height:46px;
			text-align:center;
			border-top:1px @azul solid;
			border-bottom:1px @azul solid;
			color:@azul;
			background:transparent;
			.roboto(18px);
			&:first-child{margin-right:25px;}
			a{
				color:@azul;
				display:block;
				.transition;
				&:active, &:visited{color:@azul;}
				&:hover, &.ativo{
					color:#fff;
					background:@azul;
				}
			}
		}
	}
	.form-outros{
		width:680px;
		margin:40px auto;
		form{
			font-size:0;
			label{
				.roboto(15px);
				color:@preto;
				margin-bottom:6px;
				display:block;
				span{
					color:#777;
					font-size:11px;
				}
			}
			.form-input-largo{
				.inline;
				width:370px;
				margin-right:30px;
				margin-bottom:20px;
				input{
					display:block;
					margin:0;
					padding:4px 10px;
					height:22px;
					line-height:22px;
					border:1px @azulClaro solid;
					background:transparent;
					color:@preto;
					width:348px;
					.roboto(14px);
				}
			}
			.form-input-menor{
				.inline;
				width:280px;
				margin-bottom:20px;
				input{
					display:block;
					margin:0;
					padding:4px 10px;
					height:22px;
					line-height:22px;
					border:1px @azulClaro solid;
					background:transparent;
					color:@preto;
					width:258px;
					.roboto(14px);
				}
				select{
					display:block;
					margin:0;
					height:32px;
					line-height:32px;
					border:1px @azulClaro solid;
					background:transparent;
					color:@preto;
					width:280px;
					.roboto(14px);
				}
			}
			.form-input-full{
				margin-bottom:20px;
				textarea{
					display:block;
					margin:0;
					padding:4px 10px;
					height:170px;
					line-height:130%;
					border:1px @azulClaro solid;
					background:transparent;
					resize:none;
					overflow:auto;
					color:@preto;
					width:658px;
					.roboto(14px);
				}
			}
			.form-input-submit{
				height:35px;
				input{
					float:right;
					display:block;
					height:40px;
					line-height:30px;
					background:@laranjaClaro;
					color:#fff;
					text-align:center;
					border-top:1px @laranjaEscuro solid;
					border-left:1px @laranjaEscuro solid;
					border-right:1px @laranjaEscuro solid;
					border-bottom:5px @laranjaEscuro solid;
					cursor:pointer;
					width:210px;
					.roboto(18px);
					&:active, &:visited{color:#fff;}
					&:hover{
						height:42px;
						border-bottom:1px @laranjaEscuro solid;
						border-left:1px @laranjaEscuro solid;
						border-right:1px @laranjaEscuro solid;
						border-top:3px @laranjaEscuro solid;
					}
				}
			}
		}
	}
	.form-auto{
		width:722px;
		margin:50px auto 80px auto;
		.secao-form{
			font-size:0;
			margin-bottom:20px;
			h2{
				.roboto(18px);
				color:@azulEscuro;
				line-height:100%;
				padding:18px 20px;
				border-top:1px @azul solid;
				border-left:1px @azul solid;
				border-right:1px @azul solid;
				background:url('rgba.php/rgba(83,149,171,.1)');
				background:rgba(83,149,171,.1);
			}
			.secao-interna{
				padding:20px;
				border:1px @azul solid;
				& + .secao-interna{border-top:0;}
				h3{
					.roboto(15px, bold);
					color:@azulEscuro;
					margin-bottom:15px;
				}
				label{
					.inline;
					padding:0;
					margin:0;
					.roboto(14px);
					&.full{ width:100%; }
					&.w200{ width:200px; }
					&.w220{ width:220px; }
					&.w240{ width:240px; }
					&.w270{ width:270px; }
					&.w390{ width:390px; }
					&.w440{ width:440px; }
					&.w460{ width:460px; }
					&.nowrap{white-space: nowrap;}
					&.mtop{margin-top:20px;}
					&.mright{margin-right:20px;}
					&.mbottom{margin-bottom:20px;}
					&.mleft{margin-left:20px;}
					input[type="text"],
					input[type="email"],
					input[type="date"]{
						padding:4px 2px;
						margin:5px 0 0 0;
						background:transparent;
						border:1px @azul solid;
						width:100%;
						box-sizing:border-box;
						display: block;
						height:30px;
						line-height:30px;
						.roboto(15px);
						color:@preto;
					}
					select{
						box-sizing:border-box;
						margin:5px 0 0 0;
						display:block;
						height:30px;
						padding:4px 2px;
						line-height:30px;
						border:1px @azulClaro solid;
						background:transparent;
						color:@preto;
						width:100%;
						.roboto(14px);
					}
				}
				textarea{
					padding:4px 2px;
					background:transparent;
					border:1px @azul solid;
					width:100%;
					box-sizing:border-box;
					display: block;
					height:140px;
					line-height:120%;
					.roboto(15px);
					color:@preto;
				}
			}
		}
		.submit{
			height:50px;
			input[type="submit"]{
				float:right;
				height:40px;
				line-height:120%;
				padding:0 30px;
				cursor:pointer;
				background:@laranjaClaro;
				color:#fff;
				text-align:center;
				border-top:1px @laranjaEscuro solid;
				border-left:1px @laranjaEscuro solid;
				border-right:1px @laranjaEscuro solid;
				border-bottom:5px @laranjaEscuro solid;
				.roboto(18px);
				&:active, &:visited{color:#fff;}
				&:hover{
					height:42px;
					border-bottom:1px @laranjaEscuro solid;
					border-left:1px @laranjaEscuro solid;
					border-right:1px @laranjaEscuro solid;
					border-top:3px @laranjaEscuro solid;
				}
			}
		}
	}
}