.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
body #cotacoes-nav {
  font-size: 0;
}
body #cotacoes-nav li {
  width: 475px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-top: 1px #5395ab solid;
  border-bottom: 1px #5395ab solid;
  color: #5395ab;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body #cotacoes-nav li:first-child {
  margin-right: 25px;
}
body #cotacoes-nav li a {
  color: #5395ab;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #cotacoes-nav li a:active,
body #cotacoes-nav li a:visited {
  color: #5395ab;
}
body #cotacoes-nav li a:hover,
body #cotacoes-nav li a.ativo {
  color: #fff;
  background: #5395ab;
}
body .form-outros {
  width: 680px;
  margin: 40px auto;
}
body .form-outros form {
  font-size: 0;
}
body .form-outros form label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #464646;
  margin-bottom: 6px;
  display: block;
}
body .form-outros form label span {
  color: #777;
  font-size: 11px;
}
body .form-outros form .form-input-largo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 20px;
}
body .form-outros form .form-input-largo input {
  display: block;
  margin: 0;
  padding: 4px 10px;
  height: 22px;
  line-height: 22px;
  border: 1px #4bafc9 solid;
  background: transparent;
  color: #464646;
  width: 348px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .form-outros form .form-input-menor {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 280px;
  margin-bottom: 20px;
}
body .form-outros form .form-input-menor input {
  display: block;
  margin: 0;
  padding: 4px 10px;
  height: 22px;
  line-height: 22px;
  border: 1px #4bafc9 solid;
  background: transparent;
  color: #464646;
  width: 258px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .form-outros form .form-input-menor select {
  display: block;
  margin: 0;
  height: 32px;
  line-height: 32px;
  border: 1px #4bafc9 solid;
  background: transparent;
  color: #464646;
  width: 280px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .form-outros form .form-input-full {
  margin-bottom: 20px;
}
body .form-outros form .form-input-full textarea {
  display: block;
  margin: 0;
  padding: 4px 10px;
  height: 170px;
  line-height: 130%;
  border: 1px #4bafc9 solid;
  background: transparent;
  resize: none;
  overflow: auto;
  color: #464646;
  width: 658px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .form-outros form .form-input-submit {
  height: 35px;
}
body .form-outros form .form-input-submit input {
  float: right;
  display: block;
  height: 40px;
  line-height: 30px;
  background: #ff6d00;
  color: #fff;
  text-align: center;
  border-top: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-bottom: 5px #cc5700 solid;
  cursor: pointer;
  width: 210px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body .form-outros form .form-input-submit input:active,
body .form-outros form .form-input-submit input:visited {
  color: #fff;
}
body .form-outros form .form-input-submit input:hover {
  height: 42px;
  border-bottom: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-top: 3px #cc5700 solid;
}
body .form-auto {
  width: 722px;
  margin: 50px auto 80px auto;
}
body .form-auto .secao-form {
  font-size: 0;
  margin-bottom: 20px;
}
body .form-auto .secao-form h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #0b6989;
  line-height: 100%;
  padding: 18px 20px;
  border-top: 1px #5395ab solid;
  border-left: 1px #5395ab solid;
  border-right: 1px #5395ab solid;
  background: url('rgba.php/rgba(83,149,171,.1)');
  background: rgba(83, 149, 171, 0.1);
}
body .form-auto .secao-form .secao-interna {
  padding: 20px;
  border: 1px #5395ab solid;
}
body .form-auto .secao-form .secao-interna + .secao-interna {
  border-top: 0;
}
body .form-auto .secao-form .secao-interna h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #0b6989;
  margin-bottom: 15px;
}
body .form-auto .secao-form .secao-interna label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .form-auto .secao-form .secao-interna label.full {
  width: 100%;
}
body .form-auto .secao-form .secao-interna label.w200 {
  width: 200px;
}
body .form-auto .secao-form .secao-interna label.w220 {
  width: 220px;
}
body .form-auto .secao-form .secao-interna label.w240 {
  width: 240px;
}
body .form-auto .secao-form .secao-interna label.w270 {
  width: 270px;
}
body .form-auto .secao-form .secao-interna label.w390 {
  width: 390px;
}
body .form-auto .secao-form .secao-interna label.w440 {
  width: 440px;
}
body .form-auto .secao-form .secao-interna label.w460 {
  width: 460px;
}
body .form-auto .secao-form .secao-interna label.nowrap {
  white-space: nowrap;
}
body .form-auto .secao-form .secao-interna label.mtop {
  margin-top: 20px;
}
body .form-auto .secao-form .secao-interna label.mright {
  margin-right: 20px;
}
body .form-auto .secao-form .secao-interna label.mbottom {
  margin-bottom: 20px;
}
body .form-auto .secao-form .secao-interna label.mleft {
  margin-left: 20px;
}
body .form-auto .secao-form .secao-interna label input[type="text"],
body .form-auto .secao-form .secao-interna label input[type="email"],
body .form-auto .secao-form .secao-interna label input[type="date"] {
  padding: 4px 2px;
  margin: 5px 0 0 0;
  background: transparent;
  border: 1px #5395ab solid;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 30px;
  line-height: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #464646;
}
body .form-auto .secao-form .secao-interna label select {
  box-sizing: border-box;
  margin: 5px 0 0 0;
  display: block;
  height: 30px;
  padding: 4px 2px;
  line-height: 30px;
  border: 1px #4bafc9 solid;
  background: transparent;
  color: #464646;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .form-auto .secao-form .secao-interna textarea {
  padding: 4px 2px;
  background: transparent;
  border: 1px #5395ab solid;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 140px;
  line-height: 120%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #464646;
}
body .form-auto .submit {
  height: 50px;
}
body .form-auto .submit input[type="submit"] {
  float: right;
  height: 40px;
  line-height: 120%;
  padding: 0 30px;
  cursor: pointer;
  background: #ff6d00;
  color: #fff;
  text-align: center;
  border-top: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-bottom: 5px #cc5700 solid;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body .form-auto .submit input[type="submit"]:active,
body .form-auto .submit input[type="submit"]:visited {
  color: #fff;
}
body .form-auto .submit input[type="submit"]:hover {
  height: 42px;
  border-bottom: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-top: 3px #cc5700 solid;
}
