@import 'vars.less';

body{
	iframe{
		margin-bottom:40px;
		-webkit-box-shadow: 0 0 10px 1px #919191;
		box-shadow: 0 0 10px 1px #919191;
	}
	.colunas{
		font-size:0;
		.texto{
			width:300px;
			.inline;
			.telefone{
				.roboto(22px, 300);
				.telefone{font-size:36px;}
				color:@azul;
				margin-bottom:15px;
			}
			.endereco{
				.roboto(16px);
				color:@azul;
				line-height:130%;
				margin-bottom:15px;
			}
			.email{
				margin-bottom:20px;
				a{
					.roboto(18px);
					color:@azulEscuro;
					.transition;
					&:active, &:visited{color:@azulEscuro;}
					&:hover{color:@laranjaClaro;}
				}
			}
			.social{
				a{
					margin-left:2px;
					width:45px;
					height:42px;
					text-indent: -1000px;
					overflow:hidden;
					float:none;
					.inline;
					.transition;
					&:active, &:visited{}
					&:hover{}
					&.link-fb{
						background:url('../images/layout/contato_facebook.png') center center no-repeat;
						//&:hover{ background:url('../images/layout/contato_facebook-hover.png') center center no-repeat; }
					}
					&.link-tw{
						background:url('../images/layout/contato_twitter.png') center center no-repeat;
						//&:hover{ background:url('../images/layout/contato_twitter-hover.png') center center no-repeat; }
					}
					&.link-li{
						background:url('../images/layout/contato_linkedin.png') center center no-repeat;
						//&:hover{ background:url('../images/layout/contato_linkedin-hover.png') center center no-repeat; }
					}
				}
			}
		}
		.form{
			width:670px;
			font-size:0;
			.inline;
			p{
				.roboto(15px);
				color:@preto;
				line-height: 130%;
				margin-bottom:20px;
			}
			form{
				.coluna-1{
					.inline;
					width:300px;
					input{
						display:block;
						margin:0 0 5px 0;
						padding:4px 10px;
						height:30px;
						line-height:30px;
						border:1px @azulClaro solid;
						background:transparent;
						.placeholder(@preto);
						color:@preto;
						.roboto(14px);
						width:278px;
					}
				}
				.coluna-2{
					.inline;
					width:360px;
					padding-left:10px;
					textarea{
						display:block;
						margin:0;
						padding:4px 10px;
						height:120px;
						line-height:130%;
						border:1px @azulClaro solid;
						background:transparent;
						.placeholder(@preto);
						color:@preto;
						.roboto(14px);
						resize:none;
						overflow:auto;
						width:338px;
					}
				}
				.submit{
					height:42px;
					margin-top:10px;
					input{
						float:right;
						display:block;
						height:40px;
						line-height:30px;
						background:@laranjaClaro;
						color:#fff;
						text-align:center;
						border-top:1px @laranjaEscuro solid;
						border-left:1px @laranjaEscuro solid;
						border-right:1px @laranjaEscuro solid;
						border-bottom:5px @laranjaEscuro solid;
						cursor:pointer;
						width:125px;
						.roboto(18px);
						&:active, &:visited{color:#fff;}
						&:hover{
							height:42px;
							border-bottom:1px @laranjaEscuro solid;
							border-left:1px @laranjaEscuro solid;
							border-right:1px @laranjaEscuro solid;
							border-top:3px @laranjaEscuro solid;
						}
					}
				}
			}
		}
	}
}