.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
body iframe {
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 10px 1px #919191;
  box-shadow: 0 0 10px 1px #919191;
}
body .colunas {
  font-size: 0;
}
body .colunas .texto {
  width: 300px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .colunas .texto .telefone {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #5395ab;
  margin-bottom: 15px;
}
body .colunas .texto .telefone .telefone {
  font-size: 36px;
}
body .colunas .texto .endereco {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5395ab;
  line-height: 130%;
  margin-bottom: 15px;
}
body .colunas .texto .email {
  margin-bottom: 20px;
}
body .colunas .texto .email a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #0b6989;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .colunas .texto .email a:active,
body .colunas .texto .email a:visited {
  color: #0b6989;
}
body .colunas .texto .email a:hover {
  color: #ff6d00;
}
body .colunas .texto .social a {
  margin-left: 2px;
  width: 45px;
  height: 42px;
  text-indent: -1000px;
  overflow: hidden;
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .colunas .texto .social a.link-fb {
  background: url('../images/layout/contato_facebook.png') center center no-repeat;
}
body .colunas .texto .social a.link-tw {
  background: url('../images/layout/contato_twitter.png') center center no-repeat;
}
body .colunas .texto .social a.link-li {
  background: url('../images/layout/contato_linkedin.png') center center no-repeat;
}
body .colunas .form {
  width: 670px;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .colunas .form p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #464646;
  line-height: 130%;
  margin-bottom: 20px;
}
body .colunas .form form .coluna-1 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 300px;
}
body .colunas .form form .coluna-1 input {
  display: block;
  margin: 0 0 5px 0;
  padding: 4px 10px;
  height: 30px;
  line-height: 30px;
  border: 1px #4bafc9 solid;
  background: transparent;
  color: #464646;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 278px;
}
body .colunas .form form .coluna-1 input::-webkit-input-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-1 input:-moz-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-1 input::-moz-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-1 input:-ms-input-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 360px;
  padding-left: 10px;
}
body .colunas .form form .coluna-2 textarea {
  display: block;
  margin: 0;
  padding: 4px 10px;
  height: 120px;
  line-height: 130%;
  border: 1px #4bafc9 solid;
  background: transparent;
  color: #464646;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  resize: none;
  overflow: auto;
  width: 338px;
}
body .colunas .form form .coluna-2 textarea::-webkit-input-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-2 textarea:-moz-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-2 textarea::-moz-placeholder {
  color: #464646;
}
body .colunas .form form .coluna-2 textarea:-ms-input-placeholder {
  color: #464646;
}
body .colunas .form form .submit {
  height: 42px;
  margin-top: 10px;
}
body .colunas .form form .submit input {
  float: right;
  display: block;
  height: 40px;
  line-height: 30px;
  background: #ff6d00;
  color: #fff;
  text-align: center;
  border-top: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-bottom: 5px #cc5700 solid;
  cursor: pointer;
  width: 125px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body .colunas .form form .submit input:active,
body .colunas .form form .submit input:visited {
  color: #fff;
}
body .colunas .form form .submit input:hover {
  height: 42px;
  border-bottom: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-top: 3px #cc5700 solid;
}
