@import 'vars.less';

body{
	#chamadaLateral{
		padding:25px 30px 71px 30px;
		background:#fff;
		border-top:1px @azulClaro solid;
		border-bottom:1px @azulClaro solid;
		width:235px;
		min-height:202px;
		position: relative;
		.inline;
		h1{
			.roboto(28px, 300);
			color:@azulEscuro;
			line-height:115%;
			margin-bottom: 10px;
		}
		p{
			color:@preto;
			line-height:130%;
			.roboto(15px);
			strong{font-weight: bold;}
		}
		a.botao{
			width:233px;
			position:absolute;
			bottom:25px;
			left:30px;
			display:block;
			height:40px;
			line-height:40px;
			background:@laranjaClaro;
			color:#fff;
			text-align:center;
			border-top:1px @laranjaEscuro solid;
			border-left:1px @laranjaEscuro solid;
			border-right:1px @laranjaEscuro solid;
			border-bottom:5px @laranjaEscuro solid;
			.roboto(18px);
			&:active, &:visited{color:#fff;}
			&:hover{
				height:42px;
				border-bottom:1px @laranjaEscuro solid;
				border-left:1px @laranjaEscuro solid;
				border-right:1px @laranjaEscuro solid;
				border-top:3px @laranjaEscuro solid;
			}
		}
	}
	#banners{
		width:640px;
		margin-left:30px;
		position:relative;
		-webkit-box-shadow: 0 0 10px 1px #919191;
		box-shadow: 0 0 10px 1px #919191;
		height:300px;
		.inline;
		.cycle{
			background:#fff;
			height:300px;
			.banner{
				display:block;
				position:relative;
				border:5px #fff solid;
				width:630px;
				height:290px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
		}
		#banners-nav{
			position:absolute;
			bottom:5px;
			right:20px;
			background:#fff;
			z-index:999999;
			padding:10px 10px 0px 10px;
			height:20px;
			text-align:center;
			font-size:0;
			.arredondada(7px 7px 0 0);
			a{
				.inline;
				width:10px;
				height:10px;
				margin-right:6px;
				border:1px @laranjaEscuro solid;
				background:#fff;
				&:last-child{margin-right:0;}
				.arredondada(100%);
				.transition;
				&:hover, &.activeSlide{
					background:@laranjaEscuro;
				}
			}
		}
	}
	#chamadas{
		margin-top:50px;
		font-size:0;
		a{
			text-align:center;
			border-top:1px @azul solid;
			border-bottom:1px #A8C5CE solid;
			width:300px;
			height:350px;
			.inline;
			.transition;
			img{
				border-bottom:1px @azul solid;
			}
			h3{
				color:#008DB2;
				line-height:130%;
				margin-bottom:15px;
				.transition;
				.roboto(18px);
			}
			p{
				width:220px;
				margin:0 auto;
				line-height:130%;
				color:@preto;
				.transition;
				.roboto(15px);
			}
			.icon{
				display:block;
				width:48px;
				height:48px;
				margin:-24px auto 20px auto;
				z-index:999;
				position: relative;
				border:1px @azul solid;
				.transition;
				&.icon-0{background:url('../images/layout/home_icone1.png') center center no-repeat}
				&.icon-1{background:url('../images/layout/home_icone2.png') center center no-repeat}
				&.icon-2{background:url('../images/layout/home_icone3.png') center center no-repeat}
			}
			&:hover{
				.icon-0{background:url('../images/layout/home_icone1-hover.png') center center no-repeat}
				.icon-1{background:url('../images/layout/home_icone2-hover.png') center center no-repeat}
				.icon-2{background:url('../images/layout/home_icone3-hover.png') center center no-repeat}	
				background:#008DB2;
				h3, p{color:#fff;}
			}
			&.chamada-1{ margin:0 40px; }			
		}
	}
}