.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
body #chamadaLateral {
  padding: 25px 30px 71px 30px;
  background: #fff;
  border-top: 1px #4bafc9 solid;
  border-bottom: 1px #4bafc9 solid;
  width: 235px;
  min-height: 202px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body #chamadaLateral h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #0b6989;
  line-height: 115%;
  margin-bottom: 10px;
}
body #chamadaLateral p {
  color: #464646;
  line-height: 130%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body #chamadaLateral p strong {
  font-weight: bold;
}
body #chamadaLateral a.botao {
  width: 233px;
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: block;
  height: 40px;
  line-height: 40px;
  background: #ff6d00;
  color: #fff;
  text-align: center;
  border-top: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-bottom: 5px #cc5700 solid;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body #chamadaLateral a.botao:active,
body #chamadaLateral a.botao:visited {
  color: #fff;
}
body #chamadaLateral a.botao:hover {
  height: 42px;
  border-bottom: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-top: 3px #cc5700 solid;
}
body #banners {
  width: 640px;
  margin-left: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 10px 1px #919191;
  box-shadow: 0 0 10px 1px #919191;
  height: 300px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body #banners .cycle {
  background: #fff;
  height: 300px;
}
body #banners .cycle .banner {
  display: block;
  position: relative;
  border: 5px #fff solid;
  width: 630px;
  height: 290px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body #banners #banners-nav {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background: #fff;
  z-index: 999999;
  padding: 10px 10px 0px 10px;
  height: 20px;
  text-align: center;
  font-size: 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  behavior: url('PIE.htc');
}
body #banners #banners-nav a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border: 1px #cc5700 solid;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #banners #banners-nav a:last-child {
  margin-right: 0;
}
body #banners #banners-nav a:hover,
body #banners #banners-nav a.activeSlide {
  background: #cc5700;
}
body #chamadas {
  margin-top: 50px;
  font-size: 0;
}
body #chamadas a {
  text-align: center;
  border-top: 1px #5395ab solid;
  border-bottom: 1px #A8C5CE solid;
  width: 300px;
  height: 350px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #chamadas a img {
  border-bottom: 1px #5395ab solid;
}
body #chamadas a h3 {
  color: #008DB2;
  line-height: 130%;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body #chamadas a p {
  width: 220px;
  margin: 0 auto;
  line-height: 130%;
  color: #464646;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body #chamadas a .icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: -24px auto 20px auto;
  z-index: 999;
  position: relative;
  border: 1px #5395ab solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #chamadas a .icon.icon-0 {
  background: url('../images/layout/home_icone1.png') center center no-repeat;
}
body #chamadas a .icon.icon-1 {
  background: url('../images/layout/home_icone2.png') center center no-repeat;
}
body #chamadas a .icon.icon-2 {
  background: url('../images/layout/home_icone3.png') center center no-repeat;
}
body #chamadas a:hover {
  background: #008DB2;
}
body #chamadas a:hover .icon-0 {
  background: url('../images/layout/home_icone1-hover.png') center center no-repeat;
}
body #chamadas a:hover .icon-1 {
  background: url('../images/layout/home_icone2-hover.png') center center no-repeat;
}
body #chamadas a:hover .icon-2 {
  background: url('../images/layout/home_icone3-hover.png') center center no-repeat;
}
body #chamadas a:hover h3,
body #chamadas a:hover p {
  color: #fff;
}
body #chamadas a.chamada-1 {
  margin: 0 40px;
}
