@import 'vars.less';

body{
	.listaLinks{
		font-size: 0;
		.link{
			.inline;
			width:49%;
			padding-right:30px;
			box-sizing:border-box;
			margin-bottom:30px;
			h2{
				display:block;
				color:@preto;
				margin-bottom:8px;
				.roboto(15px);
				.icon{
					.inline;
					.transition;
					width:9px;
					height:9px;
					background:url('../images/layout/links_icone.png') center center no-repeat;
					vertical-align: 1px;
					margin-left:4px;
					&:before{
						content:"";
						width:0;
						height:0;
						overflow: hidden;
						position:absolute;
						background:url('../images/layout/links_icone-hover.png') center center no-repeat;	
					}
				}
			}
			.url{
				.roboto(13px);
				color:@azul;
				.transition;
			}
			.obs{
				.roboto(13px);
				color:@preto;
				.transition;
			}
			&:hover{
				.icon{ background:url('../images/layout/links_icone-hover.png') center center no-repeat; }
				.url, .obs{ color:@laranjaClaro; }
			}
		}
	}
}