.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
body .listaLinks {
  font-size: 0;
}
body .listaLinks .link {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 49%;
  padding-right: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
body .listaLinks .link h2 {
  display: block;
  color: #464646;
  margin-bottom: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body .listaLinks .link h2 .icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 9px;
  height: 9px;
  background: url('../images/layout/links_icone.png') center center no-repeat;
  vertical-align: 1px;
  margin-left: 4px;
}
body .listaLinks .link h2 .icon:before {
  content: "";
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: url('../images/layout/links_icone-hover.png') center center no-repeat;
}
body .listaLinks .link .url {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #5395ab;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .listaLinks .link .obs {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #464646;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .listaLinks .link:hover .icon {
  background: url('../images/layout/links_icone-hover.png') center center no-repeat;
}
body .listaLinks .link:hover .url,
body .listaLinks .link:hover .obs {
  color: #ff6d00;
}
