@import 'vars.less';

.listaParceiros{
	font-size:0;
	.parceiro{
		.inline;
		width:178px;
		height: 142px;
		background:#fff;
		border:1px @azul solid;
		padding:0;
		margin:0 20px 20px 0;
		&:nth-child(5n){margin-right:0;}
		img{
			display:block;
			margin:0 auto;
			max-width:100%;
		}
	}
}