.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
.listaParceiros {
  font-size: 0;
}
.listaParceiros .parceiro {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 178px;
  height: 142px;
  background: #fff;
  border: 1px #5395ab solid;
  padding: 0;
  margin: 0 20px 20px 0;
}
.listaParceiros .parceiro:nth-child(5n) {
  margin-right: 0;
}
.listaParceiros .parceiro img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
