.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
body section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 565px;
  margin-right: 50px;
}
body section h2 {
  color: #5395ab;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
body section .cke {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #464646;
  line-height: 120%;
  margin-bottom: 30px;
}
body section .cke p {
  margin-bottom: 10px;
}
body aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 360px;
}
body aside img {
  width: 350px;
  border: 5px #fff solid;
  -webkit-box-shadow: 0 0 10px 1px #919191;
  box-shadow: 0 0 10px 1px #919191;
  margin-bottom: 20px;
}
body aside .botoes {
  font-size: 0;
}
body aside .botoes a {
  width: 123px;
  padding-left: 52px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding-top: 7px;
  height: 56px;
  color: #fff;
  line-height: 130%;
  text-align: left;
  border-top: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-bottom: 5px #cc5700 solid;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body aside .botoes a:first-child {
  margin-right: 6px;
}
body aside .botoes a:active,
body aside .botoes a:visited {
  color: #fff;
}
body aside .botoes a:hover {
  height: 58px;
  border-bottom: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-top: 3px #cc5700 solid;
}
body aside .botoes a.link-pessoal {
  background: url('../images/layout/lexuscorretora_icone-voce.png') #ff6d00 14px center no-repeat;
}
body aside .botoes a.link-empresa {
  background: url('../images/layout/lexuscorretora_icone-empresa.png') #ff6d00 14px center no-repeat;
}
