@import 'vars.less';

body{
	section{
		.inline;
		width:565px;
		margin-right:50px;
		h2{
			color:@azul;
			.roboto(18px);
			margin-bottom:20px;
		}
		.cke{
			.roboto(15px);
			color:@preto;
			line-height:120%;
			margin-bottom:30px;
			p{
				margin-bottom:10px;
			}
		}
	}
	aside{
		.inline;
		width:360px;
		img{
			width:350px;
			border:5px #fff solid;
			-webkit-box-shadow: 0 0 10px 1px #919191;
			box-shadow: 0 0 10px 1px #919191;
			margin-bottom:20px;
		}
		.botoes{
			font-size:0;
			a{
				width:123px;
				padding-left:52px;
				&:first-child{margin-right:6px;}
				.inline;
				padding-top:7px;
				height:56px;
				color:#fff;
				line-height:130%;
				text-align:left;
				border-top:1px @laranjaEscuro solid;
				border-left:1px @laranjaEscuro solid;
				border-right:1px @laranjaEscuro solid;
				border-bottom:5px @laranjaEscuro solid;
				.roboto(18px);
				&:active, &:visited{color:#fff;}
				&:hover{
					height:58px;
					border-bottom:1px @laranjaEscuro solid;
					border-left:1px @laranjaEscuro solid;
					border-right:1px @laranjaEscuro solid;
					border-top:3px @laranjaEscuro solid;
				}
				&.link-pessoal{background:url('../images/layout/lexuscorretora_icone-voce.png') @laranjaClaro 14px center no-repeat;}
				&.link-empresa{background:url('../images/layout/lexuscorretora_icone-empresa.png') @laranjaClaro 14px center no-repeat;}
			}
		}
	}
}