.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
.main {
  font-size: 0;
}
.main aside {
  width: 300px;
  margin-right: 38px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main aside ul {
  border-top: 1px #A9C5CF solid;
}
.main aside ul li {
  border-bottom: 1px #A9C5CF solid;
  height: 48px;
  padding: 2px 0;
}
.main aside ul li a {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  background: transparent;
  color: #5395ab;
  display: block;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside ul li a:active,
.main aside ul li a:visited {
  color: #5395ab;
}
.main aside ul li a:hover {
  color: #cc5700;
}
.main aside ul li a.ativo {
  color: #fff;
  background: #ff6d00;
}
.main aside ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main section {
  width: 640px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section .head {
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 1px #919191;
  box-shadow: 0 0 10px 1px #919191;
  position: relative;
  margin-bottom: 30px;
}
.main section .head img {
  max-width: 630px;
}
.main section .head h1 {
  position: absolute;
  bottom: 5px;
  right: 30px;
  background: #fff;
  z-index: 999999;
  padding: 0px 15px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 0;
  color: #5395ab;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  behavior: url('PIE.htc');
}
.main section .cke {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #464646;
  line-height: 120%;
  margin-bottom: 25px;
}
.main section .cke strong {
  font-weight: bold;
}
.main section .link-cotacao {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 0 30px;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
  background: #ff6d00;
  color: #fff;
  text-align: center;
  border-top: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-bottom: 5px #cc5700 solid;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main section .link-cotacao:active,
.main section .link-cotacao:visited {
  color: #fff;
}
.main section .link-cotacao:hover {
  height: 42px;
  border-bottom: 1px #cc5700 solid;
  border-left: 1px #cc5700 solid;
  border-right: 1px #cc5700 solid;
  border-top: 3px #cc5700 solid;
}
