@import 'vars.less';

.main{
	font-size:0;
	aside{
		width:300px;
		margin-right:38px;
		.inline;
		ul{
			border-top:1px #A9C5CF solid;
			li{
				border-bottom:1px #A9C5CF solid;
				height:48px;
				padding:2px 0;
				a{
					height:48px;
					line-height:48px;
					padding-left:20px;
					background:transparent;
					color:@azul;
					display:block;
					position:relative;
					.roboto(16px);
					.transition;
					&:active, &:visited{color:@azul;}
					&:hover{
						color:@laranjaEscuro;
					}
					&.ativo{
						color:#fff;
						background:@laranjaClaro;
					}
					&:before{
						content:"";
						position:absolute;
						left:0;
						top:50%;
						width: 0;
						height: 0;
						border-left: 5px solid #fff;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;

						-moz-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	section{
		width:640px;
		.inline;
		.head{
			padding:5px;
			background:#fff;
			-webkit-box-shadow: 0 0 10px 1px #919191;
			box-shadow: 0 0 10px 1px #919191;
			position:relative;
			margin-bottom:30px;
			img{
				max-width: 630px;
			}
			h1{
				position:absolute;
				bottom:5px;
				right:30px;
				background:#fff;
				z-index:999999;
				padding:0px 15px;
				height:45px;
				line-height:45px;
				text-align:center;
				font-size:0;
				color:@azul;
				.roboto(18px);
				.arredondada(7px 7px 0 0);
			}
		}
		.cke{
			.roboto(14px);
			color:@preto;
			line-height: 120%;
			margin-bottom:25px;
			strong{font-weight: bold;}
		}
		.link-cotacao{
			.inline;
			padding:0 30px;
			margin-top:10px;
			height:40px;
			line-height:40px;
			background:@laranjaClaro;
			color:#fff;
			text-align:center;
			border-top:1px @laranjaEscuro solid;
			border-left:1px @laranjaEscuro solid;
			border-right:1px @laranjaEscuro solid;
			border-bottom:5px @laranjaEscuro solid;
			.roboto(18px);
			&:active, &:visited{color:#fff;}
			&:hover{
				height:42px;
				border-bottom:1px @laranjaEscuro solid;
				border-left:1px @laranjaEscuro solid;
				border-right:1px @laranjaEscuro solid;
				border-top:3px @laranjaEscuro solid;
			}			
		}
	}
}