.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
a {
  text-decoration: none;
}
body .textos {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px #4bafc9 solid;
}
body .textos h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #0b6989;
  margin-bottom: 20px;
}
body .textos .coluna {
  width: 48%;
  color: #464646;
  line-height: 120%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .textos .coluna .pad {
  padding-right: 50px;
}
body .textos .coluna ul li {
  margin-top: 7px;
}
body .textos .coluna ul li:before {
  margin-right: 4px;
  content: "· ";
  color: #0b6989;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
body .lista .sinistro-aviso {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #0b6989;
  margin-bottom: 20px;
  line-height: 140%;
}
body .lista .coluna {
  width: 310px;
  margin-right: 25px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .lista .coluna .seguradora {
  margin: 0 0 25px 0;
  border: 1px #4bafc9 solid;
}
body .lista .coluna .seguradora .imagem {
  border-bottom: 1px #4bafc9 solid;
  background: #fff;
}
body .lista .coluna .seguradora .imagem img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
body .lista .coluna .seguradora .cke {
  padding: 20px;
  color: #464646;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 120%;
}
body .lista .coluna .seguradora .cke p {
  margin-bottom: 6px;
}
body .lista .coluna.col3 {
  margin-right: 0;
}
