@import 'vars.less';

body{
	.textos{
		padding-bottom:30px;
		margin-bottom:30px;
		border-bottom:1px @azulClaro solid;
		h2{
			.roboto(18px);
			color:@azulEscuro;
			margin-bottom: 20px;
		}
		.coluna{
			width:48%;
			color:@preto;
			line-height:120%;
			.roboto(15px);
			.inline;
			.pad{ padding-right:50px; }
			ul{
				li{
					margin-top:7px;
					&:before{
						margin-right:4px;
						content:"· ";
						color:@azulEscuro;
						.roboto(15px, bold);
					}
				}
			}
		}
	}
	.lista{
		.sinistro-aviso{
			.roboto(18px);
			color:@azulEscuro;
			margin-bottom: 20px;
			line-height: 140%;
		}
		.coluna{
			width:310px;
			margin-right:25px;
			.inline;
			.seguradora{
				margin:0 0 25px 0;
				border:1px @azulClaro solid;
				.imagem{
					border-bottom:1px @azulClaro solid;
					background: #fff;
					img{
						display: block;
						margin:0 auto;
						max-width: 100%;
					}
				}
				.cke{
					padding:20px;
					color:@preto;
					.roboto(14px);
					line-height:120%;
					p{
						margin-bottom: 6px;
					}
				}
			}
			&.col3{margin-right:0;}
		}
	}
}